  @if (isLoadingProject() || isLoadingCustomer()) {
  <div class="space-y-4">
    <div class="h-32 rounded-2xl bg-fog/30"></div>
    <div class="h-64 rounded-2xl bg-fog/30"></div>
  </div>
  } @else { @if (project() && customer()) {
  <app-kitchen-quote-form
    [project]="project()!"
    [customer]="customer()!"
    [companyId]="companyId()!"
    [isSubmitting]="isSubmitting()"
    [initialExperience]="selectedExperience()"
    [quoteId]="quoteId()"
    (submitQuote)="handleSubmit($event)"
    (cancelQuote)="handleCancel()"
  />
  } }
